@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', cursive;
}

* body {
  background: black;
  color: white;
}

* body #header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 2em 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

* body #header h1 {
  text-align: center;
}

* body #header #logo {
  width: 3em;
  margin: 0.5em;
}

* body #header #refresh-db-btn {
  background: lightgray;
  border-radius: 25%;
  padding: 0.5em;
  margin: 0.5em;
  height: 2.5em;
}

* body #header #refresh-db-btn img {
  width: 1.5em;
  -webkit-filter: invert(44%) sepia(97%) saturate(3%) hue-rotate(2deg) brightness(101%) contrast(99%);
          filter: invert(44%) sepia(97%) saturate(3%) hue-rotate(2deg) brightness(101%) contrast(99%);
}

* body #header #refresh-db-btn:hover,
* body #header #refresh-db-btn:focus {
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
}

* body #header #refresh-db-btn:hover img,
* body #header #refresh-db-btn:focus img {
  -webkit-filter: invert(100%) sepia(0%) saturate(7479%) hue-rotate(135deg) brightness(107%) contrast(106%);
          filter: invert(100%) sepia(0%) saturate(7479%) hue-rotate(135deg) brightness(107%) contrast(106%);
}

* body #header #refresh-db-btn:active {
  -webkit-transform: translateY(0.12em);
          transform: translateY(0.12em);
}

* body #header #refresh-db-btn:active img {
  -webkit-filter: invert(64%) sepia(0%) saturate(2030%) hue-rotate(3deg) brightness(110%) contrast(80%);
          filter: invert(64%) sepia(0%) saturate(2030%) hue-rotate(3deg) brightness(110%) contrast(80%);
}

* body #info-wrapper .info-cont > h2 > span,
* body #info-wrapper #freq-cont > h2 > span {
  font-size: small;
}

* body #info-wrapper .info-cont > h2 > input[type="date"] {
  background: transparent;
  color: white;
  border: none;
  text-align: center;
}

* body #info-wrapper .info-cont > h2 > input[type="date"]::-webkit-calendar-picker-indicator {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

* body #info-wrapper #count {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[7];
      grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
}

* body #info-wrapper #count .high-count {
  color: darkgreen;
}

* body #info-wrapper #count .high-count span {
  color: white;
}

* body #info-wrapper #count .low-count {
  color: darkred;
}

* body #info-wrapper #count .low-count span {
  color: white;
}

* body #info-wrapper #recom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
}

* body #info-wrapper .info-cont h2,
* body #info-wrapper .info-cont h3,
* body #info-wrapper .info-cont p {
  text-align: center;
  margin: 1em;
}

* body #info-wrapper .info-cont h2 {
  border: 2px solid lightgray;
  margin: 0.5em;
}

* body #info-wrapper .info-cont h3 {
  border: 1px solid lightgrey;
  margin: 0 4em;
}
/*# sourceMappingURL=style.css.map */