@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', cursive;
    body {
        background: black;
        color: white;
        #header {
            display: flex;
            justify-content: space-evenly;
            margin: 2em 0;
            user-select: none;
            h1 {
                text-align: center;
            }
            #logo {
                width: 3em;
                margin: 0.5em;
            }
            #refresh-db-btn {
                background: lightgray;
                border-radius: 25%;
                padding: 0.5em;
                margin: 0.5em;
                height: 2.5em;
                img {
                    width: 1.5em;
                    filter: invert(44%) sepia(97%) saturate(3%) hue-rotate(2deg) brightness(101%) contrast(99%);
                }
            }
            #refresh-db-btn:hover,
            #refresh-db-btn:focus {
                // box-shadow: 0 0.5em 0.5em -0.4em adjust-hue(#ffffff, 45deg);
                transform: translateY(-0.25em);
                img {
                    filter: invert(100%) sepia(0%) saturate(7479%) hue-rotate(135deg) brightness(107%) contrast(106%);
                }
            }
            #refresh-db-btn:active {
                transform: translateY(0.12em);
                img {
                    filter: invert(64%) sepia(0%) saturate(2030%) hue-rotate(3deg) brightness(110%) contrast(80%);
                }
            }
        }
        #info-wrapper {
            .info-cont>h2>span,
            #freq-cont>h2>span {
                font-size: small;
            }
            .info-cont>h2>input[type="date"] {
                background: transparent;
                color: white;
                border: none;
                text-align: center;
            }
            .info-cont>h2>input[type="date"]::-webkit-calendar-picker-indicator {
                filter: invert(100%);
            }
            #count {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(7, 1fr);
                grid-column-gap: 1px;
                grid-row-gap: 1px;
                .high-count {
                    color: darkgreen;
                    span {
                        color: white;
                    }
                }
                .low-count {
                    color: darkred;
                    span {
                        color: white;
                    }
                }
            }
            .info-cont {
                h2,
                h3,
                p {
                    text-align: center;
                    margin: 1em;
                }
                h2 {
                    border: 2px solid lightgray;
                    margin: 0.5em;
                }
                h3 {
                    border: 1px solid lightgrey;
                    margin: 0 4em;
                }
            }
        }
    }
}